<mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="Correo" formControlName="email">
          </mat-form-field>
        </p>
  
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>
  
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          Email es requerido
        </p>
        <p class="error" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
          Usuario es requerido
        </p>
        <p class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          Contraseña es requerida
        </p>
  
        <div class="button">
          <button type="submit" mat-button>Crear</button>
        </div>
  
      </form>
    </mat-card-content>
  </mat-card>
  